<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner</title>
    <!-- Debe agregar acá todos los styles, dentro de la etiqueta head -->
    <!-- Debe agregar ../ para indicar que la carpeta assets está atrás de la carpeta donde está bannerArticle.html (components) -->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
  <h1>Nuestros ingredientes</h1>
  <p id="description">Subheading that sets up conext, shares more info about the author or generally get people physhed to keep reading</p>
  <!-- Las imagenes tienen que tener una extensión de imagen válida -->
  <!-- <img src="style.css" alt="bannerpicture"> -->
  <img src="../assets/images/banner.png" alt="banner">
</body>
</html>